#heading {
  text-align: center;
  color: #7768ff;
  font-weight: 500;
  margin-top: 100px;
}

@media (max-width: 768px) {
  #heading {
    font-size: 25px;
  }

  .info h2 {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  #heading {
    font-size: 22px;
  }

  .info h2 {
    font-size: 20px;
  }
}
