.generate {
  text-align: center;
  .slider {
    display: flex;
    margin: 15px auto 15px auto;
    width: 60%;

    input[type='range'] {
      width: 100%;
      display: inline;
      margin: 0 auto 0 auto;
    }

    .password-length {
      margin-left: 20px;
    }
  }

  .form-check {
    display: inline;
    label {
      padding-right: 30px;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .password-container {
    margin: 60px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    pre.password-value {
      font-size: 20px;
      border-radius: 0.4rem;
      border: none;
      padding: 8px 8px;
      line-height: var(1.8);
      color: #000;
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
      background-color: #fff;
      display: inline-block;
      overflow: hidden;
      max-width: 60%;
      margin: 0 16px 0 0;
    }
  }

  .btn-regenerate {
    margin-left: 10px;
  }

  .btn-copy,
  .btn-regenerate {
    color: #fff;
    background-color: #2a5dff;
    border-color: #2a5dff;
    font-family: 'Roboto', sans-serif;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      color: #fff;
      background-color: #7768ff;
      border-color: #7768ff;
    }
  }

  [contentEditable]:focus {
    outline: 0px solid transparent;
  }
}
