html,
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #e9ecf7;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    text-align: center;
    color: #7768ff;
    font-weight: 500;
    margin-top: 100px;
  }
}
