html,
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #e9ecf7;
}

main {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: #7768ff;
    font-weight: 500;
    margin-top: 100px;
  }

  .source-code {
    margin-top: 80px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    a,
    a:hover {
      cursor: pointer !important;
    }
  }
}
